In [1]:
#!pip install pymongo

Requirement already satisfied: pymongo in c:\users\abdul wajith\anaconda3\lib\site-packages (4.1.1)

In [4]:
import pymongo

client = pymongo.MongoClient('mongodb://localhost:27017')

mydb = client['employee']

emp_info = mydb.employeeInformations

In [5]:
record = {
    "firstname":"Abdul",
    "lastname":"Wajith",
    "age":"25y",
}
emp_info.insert_one(record)

In [6]:
records = [{
    "firstname":"Abdul",
    "lastname":"Wajith",
    "age":"25y",
},
{
    "firstname":"Sharmia",
    "lastname":"Riyath",
    "age":"24y",
    "status":"Married",
}]
emp_info.insert_many(records)

In [19]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'Name':["wajiht",24,"defherv","eceuhruv"],
                        "age":[14,54,14,24]})
df.dtypes

Name    object
age      int64
dtype: object

In [28]:
df[df.columns] = df[df.columns].apply(lambda x: str(x))
df.dtypes

Name    object
age     object
dtype: object

In [29]:
df['Name'] = df['Name'].astype(str)

In [41]:
df1 = pd.DataFrame({"A":[10,11,10,12,42],
                "B":[20,45,40,51,14]})
df1.dtypes

A    int64
B    int64
dtype: object

In [44]:
import numpy as np
def avg(x):
    return np.sum(x)/len(x)

df2 = df1[["A",'B']].apply(lambda x: sum(x)) 
df2

A     85
B    170
dtype: int64

In [76]:
import pandas as pd
data = pd.DataFrame({'Name':["Abdul   Wajith","A.  Sahr","Awar wee"],
            "Place":["Pandara   wali", "veppan kulam","Chilaw  thurai"]})
data[['Name','Place']]=data[['Name','Place']].apply(lambda x: x.str.replace(r'[^a-zA-Z]', ''))
data.head()

C:\Users\ABDUL WAJITH\AppData\Local\Temp\ipykernel_9628\3390715701.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  data[['Name','Place']]=data[['Name','Place']].apply(lambda x: x.str.replace(r'[^a-zA-Z]', ''))

          Name         Place
0  AbdulWajith   Pandarawali
1        ASahr   veppankulam
2      Awarwee  Chilawthurai

In [90]:
data = pd.DataFrame({'Name':[" Abdul   Wajith","A.  Sahr","  Awar wee"],
            "Place":[" Pandara   wali", " veppan kulam","Chilaw  thurai"]})
data[['Name','Place']]=data[['Name','Place']].apply(lambda x: x.str.replace(r'[^a-zA-Z]', ' '))
data.head()

C:\Users\ABDUL WAJITH\AppData\Local\Temp\ipykernel_9628\964102838.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  data[['Name','Place']]=data[['Name','Place']].apply(lambda x: x.str.replace(r'[^a-zA-Z]', ' '))

              Name            Place
0   Abdul   Wajith   Pandara   wali
1         A   Sahr     veppan kulam
2         Awar wee   Chilaw  thurai

In [91]:
data.columns = data.columns.str.strip()
data

              Name            Place
0   Abdul   Wajith   Pandara   wali
1         A   Sahr     veppan kulam
2         Awar wee   Chilaw  thurai

In [ ]:
def row_val(x):
    return str()

In [78]:
e =[]
for inx,row in data.iterrows():
    name = str(row['Name']).strip()
    Place = str(row['Place']).strip()

    ent = {"name":name,"place":Place}
    e.append(ent)
e

[{'name': 'Abdul   Wajith', 'place': 'Pandara   wali'},
 {'name': 'A   Sahr', 'place': 'veppan kulam'},
 {'name': 'Awar wee', 'place': 'Chilaw  thurai'}]

In [80]:
dic_copy = data.to_dict('records')
l = []
for i in dic_copy:
    name = str(i['Name']).strip()
    place = str(i['Place']).strip()

    d = {'name':name,'place':place}
    l.append(d)
l

[{'name': 'Abdul   Wajith', 'place': 'Pandara   wali'},
 {'name': 'A   Sahr', 'place': 'veppan kulam'},
 {'name': 'Awar wee', 'place': 'Chilaw  thurai'}]

In [92]:
import pandas as pd
df = pd.read_csv('categories_large.csv')
df.head()

,parks,playgrounds,sports,roading,resident,children
0,strongly agree,disagree,very important,not important,3,0
1,agree,disagree,important,very important,3,2
2,strongly agree,strongly agree,very important,very important,1,1
3,strongly agree,agree,important,important,1,3
4,agree,agree,important,very important,3,3

In [93]:
%%timeit
e =[]
for inx,row in df.iterrows():
    parks = str(row['parks']).strip()
    playgrounds = str(row['playgrounds']).strip()
    sports = str(row['sports']).strip()
    roading = str(row['roading']).strip()
    resident = str(row['resident']).strip()
    children = str(row['children']).strip()

    ent = {"parks":parks,"playgrounds":playgrounds,"sports":sports,"roading":roading,"resident":resident,"children":children}
    e.append(ent)
e

2.02 s ± 155 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [42]:
import pandas as pd
df = pd.read_csv('categories_large.csv')

@profile
def dic_to_rec(df):
    dic_copy = df.to_dict('records')
    l = []
    for row in dic_copy:
        parks = str(row['parks']).strip()
        playgrounds = str(row['playgrounds']).strip()
        sports = str(row['sports']).strip()
        roading = str(row['roading']).strip()
        resident = str(row['resident']).strip()
        children = str(row['children']).strip()

        ent = {"parks":parks,"playgrounds":playgrounds,"sports":sports,"roading":roading,"resident":resident,"children":children}
        l.append(ent)

        df_master_o = pd.DataFrame.from_records(l)
        return df_master_o

print(dic_to_rec(df))

         273170 function calls (273141 primitive calls) in 0.189 seconds

   Ordered by: cumulative time

   ncalls  tottime  percall  cumtime  percall filename:lineno(function)
        1    0.000    0.000    0.189    0.189 C:\Users\ABDUL WAJITH\AppData\Local\Temp\ipykernel_14188\714443217.py:4(dic_to_rec)
        1    0.000    0.000    0.187    0.187 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\frame.py:1443(to_dict)
        1    0.037    0.037    0.185    0.185 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\frame.py:1600(<listcomp>)
    70000    0.038    0.000    0.116    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\frame.py:1601(<genexpr>)
    60000    0.056    0.000    0.078    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\dtypes\cast.py:137(maybe_box_datetimelike)
    10001    0.029    0.000    0.029    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\frame.py:1596(<genexpr>)
   120576    0.023    0.000    0.023    0.000 {built-in method builtins.isinstance}
        1    0.000    0.000    0.003    0.003 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\frame.py:1724(from_records)
    10000    0.002    0.000    0.002    0.000 {method 'items' of 'dict' objects}
        1    0.000    0.000    0.002    0.002 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\frame.py:1074(itertuples)
        2    0.000    0.000    0.002    0.001 {method 'extend' of 'list' objects}
        7    0.000    0.000    0.002    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\frame.py:1145(<genexpr>)
        6    0.000    0.000    0.002    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\indexing.py:882(__getitem__)
        6    0.000    0.000    0.002    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\indexing.py:1448(_getitem_tuple)
        1    0.000    0.000    0.001    0.001 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\internals\construction.py:62(arrays_to_mgr)
        6    0.000    0.000    0.001    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\indexing.py:782(_getitem_lowerdim)
        6    0.000    0.000    0.001    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\indexing.py:1479(_getitem_axis)
        6    0.000    0.000    0.001    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\frame.py:2934(_ixs)
        1    0.000    0.000    0.001    0.001 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\internals\construction.py:333(_homogenize)
        6    0.000    0.000    0.001    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\construction.py:423(sanitize_array)
        1    0.000    0.000    0.001    0.001 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\internals\construction.py:502(to_arrays)
        1    0.000    0.000    0.001    0.001 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\internals\construction.py:613(_list_of_dict_to_arrays)
        1    0.000    0.000    0.001    0.001 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\internals\construction.py:713(_convert_object_array)
        1    0.000    0.000    0.001    0.001 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\internals\construction.py:736(<listcomp>)
        6    0.000    0.000    0.001    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\internals\construction.py:730(convert)
        1    0.000    0.000    0.001    0.001 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\internals\managers.py:1690(create_block_manager_from_arrays)
       12    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\dtypes\cast.py:1379(maybe_cast_to_datetime)
        1    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\internals\managers.py:1733(_form_blocks)
        6    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\indexes\base.py:5836(ensure_index)
        6    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\construction.py:554(_try_cast)
        6    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\internals\managers.py:998(iget)
       12    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\dtypes\cast.py:1273(maybe_infer_to_datetimelike)
        6    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\frame.py:3306(_box_col_values)
        6    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\indexing.py:716(_has_valid_tuple)
      2/1    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\indexes\base.py:250(__new__)
       12    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\indexing.py:1340(_validate_key)
        7    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\internals\blocks.py:2672(get_block_type)
        6    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\series.py:238(__init__)
        6    0.000    0.000    0.000    0.000 {pandas._libs.lib.maybe_convert_objects}
      268    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\dtypes\generic.py:30(_check)
       18    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\common.py:75(is_bool_indexer)
        1    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\internals\managers.py:1829(_simple_blockify)
       12    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\generic.py:5467(__setattr__)
       12    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\indexing.py:1426(_validate_integer)
       30    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\dtypes\common.py:201(is_object_dtype)
        7    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\internals\blocks.py:127(__init__)
       37    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\dtypes\base.py:254(is_dtype)
        6    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\internals\blocks.py:288(make_block_same_class)
       48    0.000    0.000    0.000    0.000 {pandas._libs.lib.is_list_like}
       45    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\dtypes\common.py:1610(_is_dtype_type)
        6    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\indexing.py:730(_is_nested_tuple_indexer)
        1    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\internals\blocks.py:2721(make_block)
  159/131    0.000    0.000    0.000    0.000 {built-in method builtins.len}
       18    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\generic.py:470(_get_axis)
        6    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\internals\managers.py:157(blknos)
        7    0.000    0.000    0.000    0.000 {pandas._libs.lib.infer_dtype}
       31    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\dtypes\common.py:1470(is_extension_array_dtype)
       14    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\numpy\core\_dtype.py:321(_name_get)
        1    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\internals\managers.py:232(_rebuild_blknos_and_blklocs)
        6    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\numpy\core\numeric.py:289(full)
       18    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\indexes\base.py:4279(__getitem__)
        8    0.000    0.000    0.000    0.000 {built-in method builtins.any}
        6    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\dtypes\cast.py:1257(maybe_castable)
        1    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\internals\construction.py:364(extract_index)
       49    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\abc.py:117(__instancecheck__)
       11    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\dtypes\common.py:499(is_interval_dtype)
        6    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\construction.py:354(extract_array)
        7    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\generic.py:188(__init__)
       18    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\indexing.py:736(<genexpr>)
      357    0.000    0.000    0.000    0.000 {built-in method builtins.getattr}
        7    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\base.py:796(__iter__)
       11    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\dtypes\common.py:463(is_period_dtype)
        1    0.000    0.000    0.000    0.000 {pandas._libs.lib.clean_index_list}
       18    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\dtypes\inference.py:185(is_array_like)
        6    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\series.py:538(name)
       10    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\dtypes\dtypes.py:1132(is_dtype)
       11    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\dtypes\common.py:537(is_categorical_dtype)
        7    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\internals\blocks.py:269(mgr_locs)
       10    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\dtypes\dtypes.py:923(is_dtype)
       31    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\dtypes\base.py:411(find)
       49    0.000    0.000    0.000    0.000 {built-in method _abc._abc_instancecheck}
        1    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\internals\managers.py:1860(_stack_arrays)
        6    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\indexing.py:1407(_is_scalar_access)
        6    0.000    0.000    0.000    0.000 <__array_function__ internals>:2(copyto)
       12    0.000    0.000    0.000    0.000 {pandas._libs.lib.infer_datetimelike_array}
       12    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\indexing.py:2340(is_label_like)
        1    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\indexes\base.py:5947(default_index)
        1    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\internals\managers.py:126(__init__)
        6    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\dtypes\common.py:1743(validate_all_hashable)
       14    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\numpy\core\_dtype.py:24(_kind_name)
        6    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\series.py:488(name)
        7    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\dtypes\common.py:388(is_datetime64tz_dtype)
       18    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\series.py:585(_values)
        1    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\indexes\range.py:85(__new__)
      155    0.000    0.000    0.000    0.000 {built-in method builtins.issubclass}
       12    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\indexers.py:52(is_list_like_indexer)
        9    0.000    0.000    0.000    0.000 {built-in method builtins.all}
        6    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\generic.py:3409(_set_as_cached)
        1    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\indexes\base.py:6023(_maybe_cast_data_without_dtype)
        1    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\indexes\base.py:1764(is_unique)
       12    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\indexing.py:759(_validate_key_length)
        1    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\internals\managers.py:318(_verify_integrity)
        6    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\internals\managers.py:1545(__init__)
        7    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\dtypes\common.py:703(is_integer_dtype)
        7    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\dtypes\common.py:231(is_sparse)
       18    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\indexing.py:884(<genexpr>)
       10    0.000    0.000    0.000    0.000 {built-in method numpy.empty}
       21    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\indexes\base.py:600(__len__)
       18    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\internals\managers.py:1626(internal_values)
        2    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\dtypes\common.py:1341(is_bool_dtype)
        1    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\numpy\core\_asarray.py:22(require)
        3    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\internals\managers.py:206(shape)
       15    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\dtypes\common.py:1769(pandas_dtype)
        6    0.000    0.000    0.000    0.000 {built-in method numpy.core._multiarray_umath.implement_array_function}
       18    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\common.py:129(cast_scalar_indexer)
       34    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\dtypes\common.py:187(<lambda>)
        1    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\frame.py:502(__init__)
       12    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\dtypes\common.py:1762(<genexpr>)
        1    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\internals\managers.py:991(_consolidate_inplace)
       20    0.000    0.000    0.000    0.000 {built-in method numpy.array}
        7    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\flags.py:47(__init__)
        6    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\internals\blocks.py:351(iget)
        6    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\series.py:439(_set_axis)
        1    0.000    0.000    0.000    0.000 {method 'any' of 'numpy.ndarray' objects}
        8    0.000    0.000    0.000    0.000 <frozen importlib._bootstrap>:1033(_handle_fromlist)
        4    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\indexes\base.py:5953(maybe_extract_name)
        1    0.000    0.000    0.000    0.000 {pandas._libs.lib.dicts_to_array}
        1    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\indexes\base.py:574(_engine)
        3    0.000    0.000    0.000    0.000 {built-in method numpy.arange}
        6    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\generic.py:5449(__getattr__)
       14    0.000    0.000    0.000    0.000 {built-in method numpy.asarray}
        1    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\numpy\core\_methods.py:54(_any)
        1    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\internals\managers.py:681(is_consolidated)
        1    0.000    0.000    0.000    0.000 {pandas._libs.lib.fast_unique_multiple_list_gen}
        6    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\internals\managers.py:1863(_asarray_compat)
        1    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\indexes\range.py:133(_simple_new)
        9    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\internals\managers.py:208(<genexpr>)
       10    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\dtypes\inference.py:322(is_hashable)
        1    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\indexes\base.py:425(_simple_new)
        1    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\common.py:334(standardize_mapping)
        1    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\dtypes\cast.py:1617(construct_1d_object_array_from_listlike)
        6    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\generic.py:569(ndim)
       18    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\generic.py:456(_get_axis_number)
        2    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\common.py:198(asarray_tuplesafe)
        1    0.000    0.000    0.000    0.000 {method 'reduce' of 'numpy.ufunc' objects}
       34    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\dtypes\common.py:185(classes)
        5    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\internals\blocks.py:2515(_maybe_coerce_values)
        1    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\internals\managers.py:689(_consolidate_check)
        2    0.000    0.000    0.000    0.000 c:\Users\ABDUL WAJITH\anaconda3\lib\site-packages\pandas\core\dtypes\common.py:757(is_signed_integer_dtype)

In [43]:
import cProfile, pstats, io



def profile(fnc):
    
    """A decorator that uses cProfile to profile a function"""
    
    def inner(*args, **kwargs):
        
        pr = cProfile.Profile()
        pr.enable()
        retval = fnc(*args, **kwargs)
        pr.disable()
        s = io.StringIO()
        sortby = 'cumulative'
        ps = pstats.Stats(pr, stream=s).sort_stats(sortby)
        ps.print_stats()
        print(s.getvalue())
        return retval

    return inner

In [44]:
df.head()

,parks,playgrounds,sports,roading,resident,children
0,strongly agree,disagree,very important,not important,3,0
1,agree,disagree,important,very important,3,2
2,strongly agree,strongly agree,very important,very important,1,1
3,strongly agree,agree,important,important,1,3
4,agree,agree,important,very important,3,3

In [45]:
import numpy as np

In [46]:
%%time
df['status'] =np.where(df['sports'].values == 'very important', 'Great','NA')
df.head()

CPU times: total: 15.6 ms
Wall time: 5.98 ms

,parks,playgrounds,sports,roading,resident,children,status
0,strongly agree,disagree,very important,not important,3,0,Great
1,agree,disagree,important,very important,3,2,NA
2,strongly agree,strongly agree,very important,very important,1,1,Great
3,strongly agree,agree,important,important,1,3,NA
4,agree,agree,important,very important,3,3,NA

In [47]:
def status(col1,col2):
    if col1 =="not important":
        if col2 == 'disagree':
            return 'Great'
    else:
        return 'Not great'

In [48]:
%%time
def status_(df):
    if df['roading'] =="not important":
        if df['playgrounds'] == 'disagree':
            return 'Great'
    else:
        return 'Not great'
df['status'] = df.apply(status_,axis=1)
df.head()

CPU times: total: 156 ms
Wall time: 163 ms

,parks,playgrounds,sports,roading,resident,children,status
0,strongly agree,disagree,very important,not important,3,0,Great
1,agree,disagree,important,very important,3,2,Not great
2,strongly agree,strongly agree,very important,very important,1,1,Not great
3,strongly agree,agree,important,important,1,3,Not great
4,agree,agree,important,very important,3,3,Not great

In [50]:
%%time
vecfunc = np.vectorize(status)
df['status'] = vecfunc(df['roading'],df['playgrounds'])
df.head()

CPU times: total: 15.6 ms
Wall time: 9.97 ms

,parks,playgrounds,sports,roading,resident,children,status
0,strongly agree,disagree,very important,not important,3,0,Great
1,agree,disagree,important,very important,3,2,Not great
2,strongly agree,strongly agree,very important,very important,1,1,Not great
3,strongly agree,agree,important,important,1,3,Not great
4,agree,agree,important,very important,3,3,Not great

In [56]:
%%time
def type_cast(col1):
    col1 = col1.astype(str)
    return col1


#vecfunc = np.vectorize(type_cast)
df['children'] = type_cast(df['children'])
df.dtypes

CPU times: total: 15.6 ms
Wall time: 17 ms

parks          object
playgrounds    object
sports         object
roading        object
resident        int64
children       object
status         object
dtype: object

In [57]:
condition = [
    df['sports'] == df['roading'],
    df['sports'] != df['roading']	
]
choices = ['Equal',
            'Inequal']

df['status1'] = np.select(condition,choices,default='NA')
df.head()

,parks,playgrounds,sports,roading,resident,children,status,status1
0,strongly agree,disagree,very important,not important,3,0,Great,Inequal
1,agree,disagree,important,very important,3,2,Not great,Inequal
2,strongly agree,strongly agree,very important,very important,1,1,Not great,Equal
3,strongly agree,agree,important,important,1,3,Not great,Equal
4,agree,agree,important,very important,3,3,Not great,Inequal

In [71]:
df1 = df[['children','sports']]
df1

     children          sports
0           0  very important
1           2       important
2           1  very important
3           3       important
4           3       important
...       ...             ...
9995        3  very important
9996        2  very important
9997        1   not important
9998        3   not important
9999        2   not important

[10000 rows x 2 columns]

In [69]:
a,b,c = 50,78,37
def abc(a,b,c):
    dg = [a<24,b<50,c==37]
    l = [{'A':1},{'C':'N'},{"D":4}]
    c = np.select(dg,l)
    return c

In [70]:
abc(a,b,c)

array({'D': 4}, dtype=object)