In [19]:
# connect with mongo db compose
import pymongo

client = pymongo.MongoClient('mongodb://localhost:27017')

mydb = client['employee']

information = mydb.employeeInformations

In [20]:
# record onsert one 
record = {
    'name':'wajith',
    'age':'25 years',
    'grade': 'graduate'
}

information.insert_one(record)

In [21]:
records = [{
    'name':'abdul',
    'age':'24 years',
    'grade': 'undergraduate'
    },
    {'name':'raju',
    'age':'24 years',
    'grade': 'no',
    'status': 'unemployee'
    },
    {'name':'john',
    'age':'21 years',
    'grade': '12A'
    },
    {'name':'sharmila',
    'age':'24 years',
    'grade': 'undergraduate',
    'university':'UoP'
    }]

information.insert_many(records)

In [22]:
# simple query
information.find_one()

{'_id': ObjectId('62bd6ce4f9ae83798487ebce'),
 'firstname': 'Abdul',
 'lastname': 'Wajith',
 'age': '25y'}

In [23]:
for record in information.find():
    print(record)

{'_id': ObjectId('62bd6ce4f9ae83798487ebce'), 'firstname': 'Abdul', 'lastname': 'Wajith', 'age': '25y'}
{'_id': ObjectId('62bd6db0f9ae83798487ebcf'), 'firstname': 'Abdul', 'lastname': 'Wajith', 'age': '25y'}
{'_id': ObjectId('62bd6db0f9ae83798487ebd0'), 'firstname': 'Sharmia', 'lastname': 'Riyath', 'age': '24y', 'status': 'Married'}
{'_id': ObjectId('62ce6b15e1f315802e87d8d0'), 'name': 'wajith', 'age': '25 years', 'grade': 'graduate'}
{'_id': ObjectId('62ce6c2de1f315802e87d8d1'), 'name': 'abdul', 'age': '24 years', 'grade': 'undergraduate'}
{'_id': ObjectId('62ce6c2de1f315802e87d8d2'), 'name': 'raju', 'age': '24 years', 'grade': 'no', 'status': 'unemployee'}
{'_id': ObjectId('62ce6c2de1f315802e87d8d3'), 'name': 'john', 'age': '21 years', 'grade': '12A'}
{'_id': ObjectId('62ce6c2de1f315802e87d8d4'), 'name': 'sharmila', 'age': '24 years', 'grade': 'undergraduate', 'university': 'UoP'}
{'_id': ObjectId('62d4d5fdb1bbdc08801f5e0e'), 'name': 'wajith', 'age': '25 years', 'grade': 'graduate'}
{'_id': ObjectId('62d4d5fdb1bbdc08801f5e0f'), 'name': 'abdul', 'age': '24 years', 'grade': 'undergraduate'}
{'_id': ObjectId('62d4d5fdb1bbdc08801f5e10'), 'name': 'raju', 'age': '24 years', 'grade': 'no', 'status': 'unemployee'}
{'_id': ObjectId('62d4d5fdb1bbdc08801f5e11'), 'name': 'john', 'age': '21 years', 'grade': '12A'}
{'_id': ObjectId('62d4d5fdb1bbdc08801f5e12'), 'name': 'sharmila', 'age': '24 years', 'grade': 'undergraduate', 'university': 'UoP'}

In [24]:
for record in information.find({'age':'24 years'}):
    print(record)

{'_id': ObjectId('62ce6c2de1f315802e87d8d1'), 'name': 'abdul', 'age': '24 years', 'grade': 'undergraduate'}
{'_id': ObjectId('62ce6c2de1f315802e87d8d2'), 'name': 'raju', 'age': '24 years', 'grade': 'no', 'status': 'unemployee'}
{'_id': ObjectId('62ce6c2de1f315802e87d8d4'), 'name': 'sharmila', 'age': '24 years', 'grade': 'undergraduate', 'university': 'UoP'}
{'_id': ObjectId('62d4d5fdb1bbdc08801f5e0f'), 'name': 'abdul', 'age': '24 years', 'grade': 'undergraduate'}
{'_id': ObjectId('62d4d5fdb1bbdc08801f5e10'), 'name': 'raju', 'age': '24 years', 'grade': 'no', 'status': 'unemployee'}
{'_id': ObjectId('62d4d5fdb1bbdc08801f5e12'), 'name': 'sharmila', 'age': '24 years', 'grade': 'undergraduate', 'university': 'UoP'}

In [25]:
# query using query operator    $lt - less than $gt - greater than
for record in information.find({'grade': {'$in': ['undergraduate','no']}}):
    print(record)

{'_id': ObjectId('62ce6c2de1f315802e87d8d1'), 'name': 'abdul', 'age': '24 years', 'grade': 'undergraduate'}
{'_id': ObjectId('62ce6c2de1f315802e87d8d2'), 'name': 'raju', 'age': '24 years', 'grade': 'no', 'status': 'unemployee'}
{'_id': ObjectId('62ce6c2de1f315802e87d8d4'), 'name': 'sharmila', 'age': '24 years', 'grade': 'undergraduate', 'university': 'UoP'}
{'_id': ObjectId('62d4d5fdb1bbdc08801f5e0f'), 'name': 'abdul', 'age': '24 years', 'grade': 'undergraduate'}
{'_id': ObjectId('62d4d5fdb1bbdc08801f5e10'), 'name': 'raju', 'age': '24 years', 'grade': 'no', 'status': 'unemployee'}
{'_id': ObjectId('62d4d5fdb1bbdc08801f5e12'), 'name': 'sharmila', 'age': '24 years', 'grade': 'undergraduate', 'university': 'UoP'}

In [26]:
# OR operator 
for record in information.find({'$or': [{'age':'24 years'},{'grade':'undergraduate'}]}):
    print(record)

{'_id': ObjectId('62ce6c2de1f315802e87d8d1'), 'name': 'abdul', 'age': '24 years', 'grade': 'undergraduate'}
{'_id': ObjectId('62ce6c2de1f315802e87d8d2'), 'name': 'raju', 'age': '24 years', 'grade': 'no', 'status': 'unemployee'}
{'_id': ObjectId('62ce6c2de1f315802e87d8d4'), 'name': 'sharmila', 'age': '24 years', 'grade': 'undergraduate', 'university': 'UoP'}
{'_id': ObjectId('62d4d5fdb1bbdc08801f5e0f'), 'name': 'abdul', 'age': '24 years', 'grade': 'undergraduate'}
{'_id': ObjectId('62d4d5fdb1bbdc08801f5e10'), 'name': 'raju', 'age': '24 years', 'grade': 'no', 'status': 'unemployee'}
{'_id': ObjectId('62d4d5fdb1bbdc08801f5e12'), 'name': 'sharmila', 'age': '24 years', 'grade': 'undergraduate', 'university': 'UoP'}

In [27]:
# AND operator 
for record in information.find({'$and': [{'age':'24 years'},{'grade':'undergraduate'}]}):
    print(record)

{'_id': ObjectId('62ce6c2de1f315802e87d8d1'), 'name': 'abdul', 'age': '24 years', 'grade': 'undergraduate'}
{'_id': ObjectId('62ce6c2de1f315802e87d8d4'), 'name': 'sharmila', 'age': '24 years', 'grade': 'undergraduate', 'university': 'UoP'}
{'_id': ObjectId('62d4d5fdb1bbdc08801f5e0f'), 'name': 'abdul', 'age': '24 years', 'grade': 'undergraduate'}
{'_id': ObjectId('62d4d5fdb1bbdc08801f5e12'), 'name': 'sharmila', 'age': '24 years', 'grade': 'undergraduate', 'university': 'UoP'}

In [28]:
inventory = mydb.inventory

In [29]:
inventory.insert_many([
    {'_id':12,'name':'ram','size':{'s':14,'m':17,'l':19},'price':147},
    {'_id':13,'name':'mouse','size':{'s':11,'m':12,'l':'free'},'price':107},
    {'_id':14,'name':'rom','size':'free','price':199},
    {'_id':15,'name':'charger','size':{'s':2,'m':2.5,'l':4},'price':117},
    {'_id':16,'name':'display','size':{'s':30,'m':45,'l':74},'price':150},
])

BulkWriteError: batch op errors occurred, full error: {'writeErrors': [{'index': 0, 'code': 11000, 'keyPattern': {'_id': 1}, 'keyValue': {'_id': 12}, 'errmsg': 'E11000 duplicate key error collection: employee.inventory index: _id_ dup key: { _id: 12 }', 'op': {'_id': 12, 'name': 'ram', 'size': {'s': 14, 'm': 17, 'l': 19}, 'price': 147}}], 'writeConcernErrors': [], 'nInserted': 0, 'nUpserted': 0, 'nMatched': 0, 'nModified': 0, 'nRemoved': 0, 'upserted': []}

In [ ]:
for record in inventory.find():
    print(record)

{'_id': 12, 'name': 'ram', 'size': {'s': 14, 'm': 17, 'l': 19}, 'price': 147}
{'_id': 13, 'name': 'mouse', 'size': {'s': 11, 'm': 12, 'l': 'free'}, 'price': 107}
{'_id': 14, 'name': 'rom', 'size': 'free', 'price': 199}
{'_id': 15, 'name': 'charger', 'size': {'s': 2, 'm': 2.5, 'l': 4}, 'price': 117}
{'_id': 16, 'name': 'display', 'size': {'s': 30, 'm': 45, 'l': 74}, 'price': 150}

In [ ]:
inventory.update_one(
    {'_id':12},
    {'$set': {'price':100,'discount':47},
    '$currentDate':{'modifiedDate':True}}
)

In [ ]:
for record in inventory.find():
    print(record)

{'_id': 12, 'name': 'ram', 'size': {'s': 14, 'm': 17, 'l': 19}, 'price': 100, 'discount': 47, 'modifiedDate': datetime.datetime(2022, 7, 15, 16, 27, 13, 895000)}
{'_id': 13, 'name': 'mouse', 'size': {'s': 11, 'm': 12, 'l': 'free'}, 'price': 107}
{'_id': 14, 'name': 'rom', 'size': 'free', 'price': 199}
{'_id': 15, 'name': 'charger', 'size': {'s': 2, 'm': 2.5, 'l': 4}, 'price': 117}
{'_id': 16, 'name': 'display', 'size': {'s': 30, 'm': 45, 'l': 74}, 'price': 150}

In [ ]:
inventory.update_many(
    {'price':{'$lt':150}},
    {'$set':{'discount':'10%'},
    '$currentDate':{'modifiedDate':True}}
)

In [ ]:
for record in inventory.find():
    print(record)

{'_id': 12, 'name': 'ram', 'size': {'s': 14, 'm': 17, 'l': 19}, 'price': 100, 'discount': '10%', 'modifiedDate': datetime.datetime(2022, 7, 15, 16, 31, 16, 236000)}
{'_id': 13, 'name': 'mouse', 'size': {'s': 11, 'm': 12, 'l': 'free'}, 'price': 107, 'discount': '10%', 'modifiedDate': datetime.datetime(2022, 7, 15, 16, 31, 16, 237000)}
{'_id': 14, 'name': 'rom', 'size': 'free', 'price': 199}
{'_id': 15, 'name': 'charger', 'size': {'s': 2, 'm': 2.5, 'l': 4}, 'price': 117, 'discount': '10%', 'modifiedDate': datetime.datetime(2022, 7, 15, 16, 31, 16, 237000)}
{'_id': 16, 'name': 'display', 'size': {'s': 30, 'm': 45, 'l': 74}, 'price': 150}

### Aggregated